absl-py==0.9.0
ase==3.19.2
astor==0.8.1
attrs==19.1.0
backcall==0.1.0
certifi==2020.6.20
chardet==3.0.4
cycler==0.10.0
decorator==4.4.2
defusedxml==0.6.0
gast==0.3.3
googledrivedownloader==0.4
grpcio==1.30.0
h5py==2.10.0
idna==2.10
importlib-metadata==1.7.0
ipython-genutils==0.2.0
isodate==0.6.0
Jinja2==2.11.2
joblib==0.16.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
kiwisolver==1.2.0
llvmlite==0.33.0
Markdown==3.2.2
MarkupSafe==1.1.1
matplotlib==3.3.0
mistune==0.8.4
mock==4.0.2
nbformat==4.4.0
networkx==2.4
numba==0.50.1
numpy==1.19.1
pandas==1.1.0
pandocfilters==1.4.2
pickleshare==0.7.5
Pillow==7.2.0
plyfile==0.7.2
protobuf==3.12.4
ptyprocess==0.6.0
pyparsing==2.4.7
pyrsistent==0.15.4
python-dateutil==2.8.1
pytz==2020.1
PyYAML==5.3.1
rdflib==5.0.0
requests==2.24.0
scikit-learn==0.23.1
scipy==1.5.2
Send2Trash==1.5.0
six==1.15.0
tensorboard==1.13.1
tensorboardX==2.1
tensorflow-estimator==1.13.0
tensorflow-gpu==1.13.1
termcolor==1.1.0
testpath==0.4.2
threadpoolctl==2.1.0
tqdm==4.48.0
traitlets==4.3.2
urllib3==1.25.10
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==1.0.1
zipp==3.1.0
open3d==0.8.0.0
open3d-python==0.7.0.0
